/* admin.component.scss */
.admin-container {
    margin-top: 4rem; /* Adjust this value based on the height of your nav bar */
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* Styling for the login container */
  .login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .error-message {
    color: red;
  }
  
  /* Styling for the admin content */
  .admin-content {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  