<div class="home-page">
    <div class="hero-banner">
      <img src="assets/banner.png" alt="Club Banner">
      <div class="hero-text">
        <h1>Welcome to Inagh Taekwon-Do Club</h1>
        <p>Located in Clare, Ireland</p>
        <a href="/about" class="cta-button">Learn More About Us</a>
      </div>
    </div>
    <div class="highlights">
      <div class="highlight">
        <h2>Our Team</h2>
        <p>Learn more about the members behind building this community.</p>
        <a href="/instructors" class="cta-button">The Team</a>
      </div>
      <div class="highlight">
        <h2>Classes</h2>
        <p>Join our classes and improve your Taekwon-Do skills, from beginners to advanced levels.</p>
        <a href="/classes" class="cta-button">Class Timetable</a>
      </div>
      <div class="highlight">
        <h2>Events</h2>
        <p>Participate in our events and competitions to showcase your skills and connect with other practitioners.</p>
        <a href="https://www.taekwondo.ie/calendar-of-events" class="cta-button">Irish Taekwon-Do Calendar</a>
      </div>
    </div>
    <div class="contact-cta">
      <h2>Ready to Get Started?</h2>
      <p>Contact us today to learn more about classes and join our community.</p>
      <a href="/contact" class="cta-button">Contact Us</a>
    </div>
  </div>
  