<div class="contact-page">
    <div class="contact-container">
      <h1>Contact Us</h1>
      
      <!-- Social Media Icons -->
      <div class="social-media">
        <a href="https://www.facebook.com/inaghtkd/" target="_blank" class="social-icon">
          <img src="assets/facebook.png" alt="Facebook">
        </a>
        <a href="https://www.instagram.com/inaghtkd/" target="_blank" class="social-icon">
          <img src="assets/insta.png" alt="Instagram">
        </a>
      </div>
      
      <!-- Google Form Embed -->
      <div class="google-form">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdLc9wQZNPiElsOwWsDQYujSyUGDickbekGJVvQPlHp73MH9A/viewform?embedded=true" width="640" height="951" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
      </div>
    </div>
  </div>
  
  
