<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" [(opened)]="isSidenavOpen">
    <mat-nav-list>
      <a mat-list-item [routerLink]="[homeRoute]" routerLinkActive="active-link" (click)="sidenav.close()">
        <mat-icon>home</mat-icon>
        Home
      </a>
      <a mat-list-item [routerLink]="[aboutRoute]" routerLinkActive="active-link" (click)="sidenav.close()">
        <mat-icon>info</mat-icon>
        About
      </a>
      <a mat-list-item [routerLink]="[classesRoute]" routerLinkActive="active-link" (click)="sidenav.close()">
        <mat-icon>school</mat-icon>
        Class Info
      </a>
      <a mat-list-item [routerLink]="[contactRoute]" routerLinkActive="active-link" (click)="sidenav.close()">
        <mat-icon>contact_mail</mat-icon>
        Contact
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <!-- Move logos to the left and adjust size -->
      <div class="nav-logos">
        <img [src]="logo1" alt="ITA Logo" class="logo">
        <img [src]="logo2" alt="ITA Logo 2" class="logo">
        <img [src]="logo3" alt="ITF Logo" class="logo">
      </div>

      <!-- <span class="app-title">Inagh Taekwon-Do</span> -->

      <span class="spacer"></span>

      <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>

      <div class="nav-links" fxHide fxShow.gt-sm>
        <a mat-button [routerLink]="[homeRoute]" routerLinkActive="active-link">
          <mat-icon>home</mat-icon>
          Home
        </a>
        <a mat-button [routerLink]="[aboutRoute]" routerLinkActive="active-link">
          <mat-icon>info</mat-icon>
          About
        </a>
        <a mat-button [routerLink]="[classesRoute]" routerLinkActive="active-link">
          <mat-icon>school</mat-icon>
          Class Info
        </a>
        <a mat-button [routerLink]="[contactRoute]" routerLinkActive="active-link">
          <mat-icon>contact_mail</mat-icon>
          Contact
        </a>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
