<nav>
  <div class="nav-links">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/instructors">Instructors</a>
    <a href="/classes">Class Info</a>
    <a href="/contact">Contact</a>
  </div>
  <div class="nav-logos">
    <a href="https://www.facebook.com/inaghtkd/" target="_blank" class="social-icon">
      <img src="assets/icons/facebook.png" alt="Facebook">
    </a>
    <a href="https://www.instagram.com/inaghtkd/" target="_blank" class="social-icon">
      <img src="assets/icons/insta.png" alt="Instagram">
    </a>
    <img src="assets/icons/ita_logo1.png" alt="Logo 1">
    <img src="assets/icons/ita_logo2.png" alt="Logo 2">
    <img src="assets/icons/itf.png" alt="Logo 3">
  </div>  
</nav>
<router-outlet></router-outlet>
