<div *ngIf="isAuthenticated" class="admin-container">
  <div class="admin-content">
    <h1>Admin Section</h1>
    <mat-slide-toggle [(ngModel)]="editMode" (change)="toggleEditMode($event)">Edit Mode</mat-slide-toggle>
    
    <!-- Navigation Menu for Edit Mode -->
    <div *ngIf="editMode" class="navigation-menu">
      <mat-form-field appearance="fill">
        <mat-label>Select Page</mat-label>
        <mat-select [(ngModel)]="selectedPage">
          <mat-option *ngFor="let page of pages" [value]="page.route">
            {{ page.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="navigateToPage()">Go</button>
    </div>
  </div>

<table class="image-table">
  <thead>
    <tr>
      <th>Alias</th>
      <th>Source</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let image of images">
      <td>{{ image.alias }}</td>
      <td>{{ abbreviatedSrc(image.src) }}</td>
      <td><button (click)="selectImage(image)">Edit</button></td>
    </tr>
  </tbody>
</table>
</div>


<div *ngIf="selectedImage" class="edit-section">
  <h2>Edit {{ selectedImage.alias }}</h2>
  <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />
  <button (click)="fileInput?.click()">Select New Image</button>
  <button *ngIf="selectedImage.src !== 'assets/webImages/Cover.jpg'" (click)="saveImage(selectedImage.src)">Save</button>
</div>

<!-- Login Form -->
<div *ngIf="!isAuthenticated" class="login-container">
  <h2>Admin Login</h2>
  <input
    type="password"
    [(ngModel)]="password"
    placeholder="Password"
    class="input-field"
    (keydown.enter)="login()"
  />
  <button mat-raised-button color="primary" (click)="login()">Login</button>
  <div *ngIf="loginError" class="error-message">
    <p>Invalid password. Please try again.</p>
  </div>
</div>
